.u-section-1 .u-sheet-1 {
  min-height: 808px;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-size: 4.5rem;
  width: 751px;
  margin: 65px auto 0;
}

.u-section-1 .u-line-1 {
  width: 48px;
  height: 3px;
  transform-origin: right center;
  margin: 5px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 751px;
  margin: 27px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 34px auto 64px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 542px;
}

.u-section-1 .u-image-1 {
  width: 334px;
  height: 400px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 326px;
  min-height: 178px;
  background-image: none;
  margin-top: -66px;
  margin-right: 0;
  margin-left: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 542px;
}

.u-section-1 .u-image-2 {
  width: 334px;
  height: 400px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 326px;
  min-height: 172px;
  background-image: none;
  margin-top: -66px;
  margin-right: 0;
  margin-left: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-text-5 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 542px;
  background-image: none;
}

.u-section-1 .u-image-3 {
  width: 334px;
  height: 400px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 326px;
  min-height: 178px;
  background-image: none;
  margin: -66px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-1 .u-image-1 {
    width: 273px;
    height: 351px;
  }

  .u-section-1 .u-group-1 {
    width: 273px;
    min-height: 188px;
    margin-top: -17px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-1 .u-image-2 {
    width: 273px;
    height: 351px;
  }

  .u-section-1 .u-group-2 {
    width: 273px;
    min-height: 188px;
    margin-top: -17px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 447px;
  }

  .u-section-1 .u-image-3 {
    width: 273px;
    height: 351px;
  }

  .u-section-1 .u-group-3 {
    width: 273px;
    min-height: 188px;
    margin-top: -17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 200px;
    height: 283px;
  }

  .u-section-1 .u-group-1 {
    width: 200px;
    min-height: 241px;
    margin-top: -20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 200px;
    height: 283px;
  }

  .u-section-1 .u-group-2 {
    width: 200px;
    min-height: 241px;
    margin-top: -20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 200px;
    height: 283px;
  }

  .u-section-1 .u-group-3 {
    min-height: 241px;
    width: 200px;
    margin-top: -20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 456px;
    height: 390px;
  }

  .u-section-1 .u-group-1 {
    width: 456px;
    margin-top: -129px;
  }

  .u-section-1 .u-image-2 {
    width: 456px;
    height: 390px;
  }

  .u-section-1 .u-group-2 {
    width: 456px;
    margin-top: -130px;
  }

  .u-section-1 .u-image-3 {
    width: 456px;
    height: 390px;
  }

  .u-section-1 .u-group-3 {
    width: 440px;
    margin-top: -93px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 291px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    margin-top: -40px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 291px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
    margin-top: -40px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 291px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
    margin-top: -40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1169px;
}

.u-section-2 .u-text-1 {
  width: 680px;
  font-family: Roboto, sans-serif;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 680px;
  margin: 14px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 36px auto 60px 0;
}

.u-section-2 .u-video-1 {
  min-height: 678px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 314px;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 340px;
  background-image: url("images/895925026-03.jpeg");
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  width: 170px;
  height: 181px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: -131px 175px 0 91px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 96px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 4px 20px 0;
}

.u-section-2 .u-image-4 {
  min-height: 338px;
  background-image: url("images/895925026-02.jpeg");
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-5 {
  width: 186px;
  height: 182px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 4px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 2px auto 0;
}

.u-section-2 .u-image-6 {
  background-image: url("images/895925026-0.jpeg");
  background-position: 50% 50%;
  min-height: 346px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-image-7 {
  min-height: 342px;
  background-image: url("images/895925026-07.jpeg");
  background-position: 30.64% 2.96%;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-text-11 {
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 138px auto 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: 8px 1px 0 -3px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-1 {
    background-position: 50% 50%;
    min-height: 559px;
  }

  .u-section-2 .u-image-1 {
    height: 252px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    background-position: 50% 50%;
    min-height: 280px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 73px;
    margin-right: 142px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 7px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    background-position: 50% 50%;
    min-height: 279px;
  }

  .u-section-2 .u-image-6 {
    min-height: 285px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    background-size: auto 130%;
    min-height: 282px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 26px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-video-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 184px;
  }

  .u-section-2 .u-image-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 53px;
    margin-right: 105px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-image-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-6 {
    min-height: 218px;
  }

  .u-section-2 .u-image-7 {
    min-height: 216px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1757px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 478px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 143px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 491px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 486px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-left: auto;
  }

  .u-section-2 .u-text-13 {
    margin-left: -5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 294px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -113px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 84px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-6 {
    min-height: 238px;
  }

  .u-section-2 .u-image-7 {
    min-height: 306px;
  }

  .u-section-2 .u-text-13 {
    margin-left: -3px;
  }
}