.u-section-1 .u-sheet-1 {
  min-height: 1169px;
}

.u-section-1 .u-text-1 {
  width: 680px;
  font-family: Roboto, sans-serif;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 680px;
  margin: 14px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 36px auto 60px 0;
}

.u-section-1 .u-video-1 {
  min-height: 678px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 314px;
}

.u-section-1 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 345px;
  background-image: url("images/895925026-03.jpeg");
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-image-3 {
  width: 170px;
  height: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -131px 175px 0 91px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 96px auto 0;
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 4px 20px 0;
}

.u-section-1 .u-image-4 {
  min-height: 342px;
  background-image: url("images/895925026-02.jpeg");
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-image-5 {
  width: 186px;
  height: 182px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 4px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 2px auto 0 43px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/895925026-0.jpeg");
  background-position: 50% 50%;
  min-height: 346px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  margin: 0 33px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin: 127px 1px 0 0;
}

.u-section-1 .u-image-7 {
  min-height: 342px;
  background-image: url("images/895925026-07.jpeg");
  background-position: 30.64% 2.96%;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 138px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 8px 1px 0 -3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    background-position: 50% 50%;
    min-height: 559px;
  }

  .u-section-1 .u-image-1 {
    height: 252px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
    min-height: 284px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 73px;
    margin-right: 142px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 7px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    background-position: 50% 50%;
    min-height: 282px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 34px;
  }

  .u-section-1 .u-image-6 {
    min-height: 285px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    background-size: auto 130%;
    min-height: 282px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-video-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 184px;
  }

  .u-section-1 .u-image-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 53px;
    margin-right: 105px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 25px;
  }

  .u-section-1 .u-image-6 {
    min-height: 218px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-image-7 {
    min-height: 216px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1757px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 478px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 67px;
  }

  .u-section-1 .u-image-6 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-image-7 {
    min-height: 486px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-left: -5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 294px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-right: 66px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -113px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 84px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    margin-left: 41px;
  }

  .u-section-1 .u-image-6 {
    min-height: 238px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-image-7 {
    min-height: 306px;
  }

  .u-section-1 .u-text-13 {
    margin-left: -3px;
  }
}