.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 573px;
  width: 439px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  line-height: 2.2;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 13px auto 0;
  padding: 10px 45px 10px 44px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 15px auto 0;
  padding: 10px 62px 11px 61px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 13px auto 0;
  padding: 11px 75px 12px 74px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 217px;
  min-width: 172px;
  margin: 51px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 327px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -472px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 460px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 373px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -1105px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-1 .u-image-1 {
    height: 501px;
    width: 384px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 292px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 20px;
    width: 192px;
    margin-top: -1100px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 327px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    height: 418px;
    width: 320px;
  }
}