.u-section-1 .u-sheet-1 {
  min-height: 456px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 730px;
  margin: 130px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 437px 60px 438px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 361px;
    margin-right: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 277px;
    margin-right: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 208px;
    margin-right: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 131px;
    margin-right: 37px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 0;
  min-height: 375px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-shape-1 {
  width: 272px;
  height: 272px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 276px;
  height: 276px;
  margin: -236px auto 0 38px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: -276px 0 0 375px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 375px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 0 284px;
  padding: 10px 76px 10px 75px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-shape-2 {
  width: 272px;
  height: 272px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 276px;
  height: 276px;
  margin: -236px auto 0 38px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  margin: -276px 0 0 377px;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0 377px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 0 284px;
  padding: 10px 76px 10px 75px;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: none;
  margin: 30px 487px 60px 488px;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-slider-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 261px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 272px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 334px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 334px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 101px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 334px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 334px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 112px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 635px;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 50px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 50px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 87px;
    margin-left: 307px;
  }
}