.u-section-1 {background-image: none; min-height: 893px}
.u-section-1 .u-image-1 {object-position: 50% 67.94%; height: 646px; margin: 0 auto 0 0}
.u-section-1 .u-list-1 {min-height: 214px; grid-template-columns: calc(25% - 14px) calc(25% - 14px) calc(25% - 14px) calc(25% - 14px); width: 1140px; grid-gap: 18px 18px; margin: -90px auto 0 calc(((100% - 1140px) / 2))}
.u-section-1 .u-list-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 70px; width: 70px; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {font-style: italic; margin: 22px 0 0}
.u-section-1 .u-list-item-2 {background-size: auto; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-2 {height: 70px; width: 70px; margin: 0 auto 0 0}
.u-section-1 .u-text-2 {font-style: italic; margin: 22px 0 0}
.u-section-1 .u-list-item-3 {background-size: auto; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-3 {height: 70px; width: 70px; margin: 0 auto 0 0}
.u-section-1 .u-text-3 {font-style: italic; margin: 22px 0 0}
.u-section-1 .u-list-item-4 {background-size: auto; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-icon-4 {height: 70px; width: 70px; margin: 0 auto 0 0}
.u-section-1 .u-text-4 {font-style: italic; margin: 22px 0 0}
.u-section-1 .u-text-5 {font-style: italic; width: 355px; margin: 13px auto 60px}
.u-section-1 .u-btn-1 {border-style: none none solid; padding: 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 766px}
.u-section-1 .u-image-1 {height: 494px; margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {min-height: 176px; grid-template-columns: repeat(4, calc(25% - 14px)); height: auto; width: 940px; margin-top: 62px; margin-left: calc(((100% - 940px) / 2))} }

@media (max-width: 991px){ .u-section-1 {min-height: 905px}
.u-section-1 .u-image-1 {height: 497px; margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {min-height: 428px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 351px)); width: 720px; margin-top: -106px; margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-text-5 {margin-top: 0; margin-bottom: -254px} }

@media (max-width: 767px){ .u-section-1 {min-height: 914px}
.u-section-1 .u-image-1 {height: 410px; margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {min-height: 522px; grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 261px)); width: 540px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 40px; padding-right: 40px}
.u-section-1 .u-container-layout-2 {padding-left: 40px; padding-right: 40px}
.u-section-1 .u-container-layout-3 {padding-left: 40px; padding-right: 40px}
.u-section-1 .u-container-layout-4 {padding-left: 40px; padding-right: 40px}
.u-section-1 .u-text-5 {margin-top: 22px; margin-bottom: 40px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1297px}
.u-section-1 .u-image-1 {object-position: 60.84% 67.94%; height: 359px; margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {min-height: 956px; grid-template-columns: 100%; width: 340px; margin-top: -122px; margin-left: calc(((100% - 340px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-5 {width: 340px; margin-bottom: 50px} }